* {
    box-sizing: inherit;
    
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    color: #BB2649;
    background-color: #E5CCAF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .main, .footer{
    width: 60vw;
    margin: auto;
}

@media (max-width: 768px) {
    .header, .main, .footer{
        width: 100vw;    
    }
}

header, main, footer{
    padding: 1em 0.5em;
}

header,
footer {
    font-family: 'Roboto Slab', serif;
    background-color: #B3B1A1;
    flex: 0 0 auto;
}

main {
     flex: 1 0 auto;
     font-family: 'Roboto', sans-serif;
}

main .main-title{
    font-size: 2em;
    padding-bottom: 0.5em;
}

main .source-link{
    padding-bottom: 1em;    
}

ul{
    /* padding-left: 2em; */
}

p,
ul{
    padding-bottom: 1em;
}

ul li{
    list-style: none;
}

section h2 .word-meaning{
    color: #6868AC
}

audio{
    /* background-color: red; */
}

main .source-link a,
.word-link a{
    text-decoration: none;
    color: #6868AC;
    font-weight: bold;
}

main .source-link a:hover,
.word-link a:hover{
    color: #BB2649;
}